include ../common/_globalStructure/_globalStructure
//- @description Mixin para generar el titulo de la cabecera del cuestionario
//- Acepta todos los parámetros de _mod-baseContent__title
//- @see common/_globalStructure/_mod-baseContent__title
mixin jq-questionnaire__title(params)
    //Questionnaire title
    - params = params || {};
    - params.level = params.level || 1;
    +_mod-baseContent__title({
        internalParams: {
            cssClass: "jq-questionnaire__title",
            attributes: {
                "data-jq-questionnaire-title": ""
            },
            ignoreContent: false
        },
        externalParams: params
    })&attributes(attributes)
        block
    //End questionnaire title