//- ! jqQuiz | (c) Davinchi | https://github.com/davinchi-finsi/jq-quiz/blob/master/LICENSE
include ./common/_globalStructure/_globalStructure
//- header mixins
include ./header/_jqQuizHeader
include ./header/_jqQuizTitle
include ./header/_jqQuizDescription
include ./header/_jqQuizProperty
include ./header/_jqQuizProperties
//- end header mixins
//- body mixins
include ./body/_jqQuizBody
include ./body/_jqQuizFeedback
include ./body/questions/_jqQuizQuestion
include ./body/questions/_jqQuizQuestions
include ./body/questions/_jqQuizOption
include ./body/questions/_jqQuizOptions
//- end body mixins
//- action mixins
include ./actions/_jqQuizActions
include ./actions/_jqQuizAction
//- end action mixins
//- result mixins
include ./result/_jqQuizResult
include ./result/_jqQuizResultItem
//- end result mixins
//- @pugdoc
    @function jq-quiz
    @description Mixin to create the scope of the quiz.
    @param  {Object}        [params]                    Parameters
    @param  {String}        [params.tag=div]            Tag to render
    @param  {String}        [params.cssClass]           Css classes to add to the element.
    @param  {Object}        [params.attributes]         Key-value attributes to add to the element
    @param  {Object}        [params.header]             If is provided, invokes jq-quiz__header
    @param  {Object}        [params.body]               If is provided, invokes jq-quiz__body
    @param  {Object}        [params.result]             If is provided, invokes jq-quiz__result
    @see jq-quiz__header
    @see jq-quiz__body
    @see jq-quiz__result
    @example
    +jq-quiz
        +jq-quiz__header
            +jq-quiz__title
                span Some title
            +jq-quiz__description
                span Some description
            +jq-quiz__properties
                +jq-quiz__property({
                    type: "cutOfMark",
                    content: "Cut of mark"
                })
            +jq-quiz__actions
                +jq-quiz__action({
                    type:"start",
                    content:"Start"
                })
        +jq-quiz__body
            +jq-quiz__questions
                +jq-quiz__question
                    +jq-quiz__statement
                        span Some question
                    +jq-quiz__options
                        +jq-quiz__option({
                            name:"q1",
                            isCorrect:false,
                            content:"Some option 1"
                        })
                        +jq-quiz__option({
                            name:"q1",
                            isCorrect:true,
                            content:"Some option 2"
                        })
                    +jq-quiz__feedback({
                        type:"success ? Success feedback : Fail feedback"
                    })
            +jq-quiz__actions
                +jq-quiz__action({
                    type:"end",
                    content:"End quiz"
                })
        +jq-quiz__result
            +jq-quiz__result-item({
                type:"score",
                content:"Score"
            })
    @example
    +jq-quiz({
        header: {
            title: "Quiz options example",
            properties: {
                items: [
                    {
                        type: "cutOfMark",
                        content: "Cut of mark"
                    }
                ]
            },
            actions: [
                {
                    type: "start",
                    content: "Start the quiz"
                }
            ]
        },
        body: {
            questions: [
                {
                    content: "Some question",
                    options: [
                        {
                            name:"q1",
                            content:"Some option 1",
                            isCorrect:false
                        },
                        {
                            name:"q1",
                            content:"Some option 2",
                            isCorrect:true
                        }
                    ],
                    feedback:[
                        {
                            type:"success ? Success feedback : Fail feedback",
                            content:"Feedback"
                        }
                    ]
                }
            ],
            actions: [
                {
                    type: "end",
                    content: "End the quiz"
                }
            ]
        },
        result: {
            items: [
                {
                    type:"score",
                    content:"Score"
                }
            ]
        }
    })
mixin jq-quiz(params)
    //Quiz
    - params = params || {};
    - params.tag = params.tag || "section";
    +_mod-baseContent({
        internalParams: {
            cssClass: "jq-quiz"
        },
        externalParams: params
    })&attributes(attributes)
        form.jq-quiz__form(data-jq-quiz-wrapper)
            if(params.header)
                +jq-quiz__header(params.header)
            if(params.body)
                +jq-quiz__body(params.body)
            if(params.result)
                +jq-quiz__result(params.result)
            block
    //End quiz