include ./common/_globalStructure/_globalStructure
//- @description Mixin para generar el contexto del cuestionario
//- Acepta todos los par치metros de _mod-baseContent
//- Adicionalmente acepta:
//- @param  {Object}        [params]              Configuraci칩n
//- @param  {String}        [params.header]       Genera la cabecera del cuestionario mediante jq-questionnaire__header
//- @param  {String}        [params.body]         Genera el cuerpo del cuestionario mediante jq-questionnaire__body
//- @see common/_globalStructure/_mod-baseContent
//- @example
//- +jq-questionnaire
//-     +jq-questionnaire__header
//-         +jq-questionnaire__title
//-             span Titule
//-         +jq-questionnaire__description
//-             span Description
//-         +jq-questionnaire__properties
//-         +jq-questionnaire__actions
//-             +jq-questionnaire__action({
//-                 type:"start",
//-                 content:"Start"
//-             })
//-     +jq-questionnaire__body
//-         +jq-questionnaire__questions
//-             +jq-questionnaire__question
//-                 +jq-questionnaire__statement
//-                     span Some question
//-                 +jq-questionnaire__options
//-                     +jq-questionnaire__option
//-         +jq-questionnaire__feedback
//-         +jq-questionnaire__actions
//- @example
//- +jq-questionnaire
//-     +jq-questionnaire__header(
//-         {
//-             title:"Titulo",
//-             description:"Descripci칩n del cuestionario",
//-             properties:true,
//-             actions:[
//-                 {
//-                     type:"start",
//-                     content:"Start"
//-                 }
//-             ]
//-         }
//-     )
//-     +jq-questionnaire__body({
//-         questions:[
//-             {
//-                 content:"Enunciado",
//-                 options:[
//-                     {
//-                         content:"Option"
//-                     },
//-                     {
//-                         content:"Option2",
//-                         isCorrect:true
//-                     }
//-                 ]
//-             }
//-         ]
//-     })
//- @example
//- +jq-questionnaire({
//-     header:{
//-         title:"Titulo",
//-         description:"Descripci칩n del cuestionario",
//-         properties:true,
//-         actions:[
//-             {
//-                 type:"start",
//-                 content:"Start"
//-             }
//-         ]
//-     },
//-     body:{
//-         questions:[
//-             {
//-                 content:"Enunciado",
//-                 options:[
//-                     {
//-                         content:"Option"
//-                     },
//-                     {
//-                         content:"Option2",
//-                         isCorrect:true
//-                     }
//-                 ]
//-             }
//-         ]
//-     }
//- })
mixin jq-questionnaire(params)
    //Questionnaire
    - params = params || {};
    - params.tag = params.tag || "section";
    +_mod-baseContent({
        internalParams: {
            cssClass: "jq-questionnaire"
        },
        externalParams: params
    })&attributes(attributes)
        form.jq-questionnaire__form(data-jq-questionnaire-wrapper)
            if(params.header)
                +jq-questionnaire__header(params.header)
            if(params.body)
                +jq-questionnaire__body(params.body)
            block
    //End quesitonnaire