include ../common/_globalStructure/_globalStructure
include ./questions/_jqQuestionnaireQuestions
include ./questions/_jqQuestionnaireQuestion
include ../actions/_jqQuestionnaireActions
//- @description Mixin para generar el contexto para el cuerpo del cuestionario.
//- Acepta todos los par치metros de _mod-baseContent__body
//- Adicionalmente acepta:
//- @param  {Object}            [params]              Configuraci칩n
//- @param  {IQuestionConfig}   [params.questions]    Conjunto de preguntas a generar. Si se indica, genera autom치ticamente el contexto de preguntas. Acepta los par치metros de jq-questionnaire__question
//- @see common/_globalStructure/_mod-baseContent__body
//- @see questions/_jqQuestionnaireQuestion
//- @example
//- +jq-questionnaire
//-     +jq-questionnaire__body
//-         +jq-questionnaire__questions
//-             +jq-questionnaire__question
//-                 +jq-questionnaire__statement
//-                     span Some question
//-                 +jq-questionnaire__options
//-                     +jq-questionnaire__option
//-         +jq-questionnaire__feedback
//-         +jq-questionnaire__actions
//- @example
//- +jq-questionnaire
//-     +jq-questionnaire__body({
//-         questions:[
//-             {
//-                 content:"Enunciado",
//-                 options:[
//-                     {
//-                         content:"Option"
//-                     },
//-                     {
//-                         content:"Option2",
//-                         isCorrect:true
//-                     }
//-                 ]
//-             }
//-         ]
//-     })
mixin jq-questionnaire__body(params)
    //Questionnaire body
    - params = params || {};
    +_mod-baseContent({
        internalParams: {
            cssClass: "jq-questionnaire__body",
            attributes: {
                "data-jq-questionnaire-body": ""
            }
        },
        externalParams: params
    })&attributes(attributes)
        if(params.questions)
            +jq-questionnaire__questions
                each question in params.questions
                    - question.multichoice = params.multichoice;
                    +jq-questionnaire__question(question)
        if(params.actions)
            +jq-questionnaire__actions({
                actions:params.actions
            })
        block
    //End questionnaire body