include ../../common/_globalStructure/_globalStructure
include ./_jqQuestionnaireStatement
include _jqQuestionnaireOption
include _jqQuestionnaireOptions
include ../_jqQuestionnaireFeedback
mixin jq-questionnaire__question(params)
    //Questionnaire question
    - params = params || {};
    - params.tag = params.tag || "fieldset";
    +_mod-baseContent({
        internalParams: {
            cssClass: "jq-questionnaire__question",
            attributes: {
                "data-jq-questionnaire-question": ""
            }
        },
        externalParams: params
    })&attributes(attributes)
        if(params.content)
            +jq-questionnaire__statement({
                content: params.content
            })
        if(params.options)
            +jq-questionnaire__options
                each option in params.options
                    - option.multichoice = params.multichoice;
                    +jq-questionnaire__option(option)
        if(params.feedback)
            each feedback in params.feedback
                +jq-questionnaire__feedback(feedback)
        block
    //End questionnaire question