include ../../common/_globalStructure/_globalStructure
mixin jq-questionnaire__statement(params)
    - params = params || {};
    - params.tag = params.tag || "legend";
    //Questionnaire statement
    +_mod-baseContent__title({
        internalParams: {
            cssClass: "jq-questionnaire__statement",
            attributes: {
                "data-jq-questionnaire-statement": ""
            },
            ignoreContent: false
        },
        externalParams: params
    })&attributes(attributes)
        block
    //End questionnaire statement