//- ! jqQuiz | (c) Davinchi | https://github.com/davinchi-finsi/jq-quiz/blob/master/LICENSE
include ../../common/_globalStructure/_globalStructure
//- @description Mixin para generar el contexto para las opciones
//- Acepta todos los parámetros de _mod-baseContent
//- @see common/_globalStructure/_mod-baseContent
mixin jq-quiz__options(params)
    -
        params = params || {};
    //Quiz options
    +_mod-baseContent({
        internalParams: {
            cssClass: "jq-quiz__options",
            attributes: {
                "data-jq-quiz-options": ""
            }
        },
        externalParams: params
    })&attributes(attributes)
        block
    //End quiz options