include ../../common/_globalStructure/_globalStructure
include _jqQuestionnaireQuestion
mixin jq-questionnaire__questions(params)
    //Questionnaire questions
    - params = params || {};
    +_mod-baseContent({
        internalParams: {
            cssClass: "jq-questionnaire__questions",
            attributes: {
                "data-jq-questionnaire-questions": ""
            }
        },
        externalParams: params
    })&attributes(attributes)
        if(params.questions)
            each question in params.questions
                - question.multichoice = params.multichoice;
                +jq-questionnaire__question(question)
        block
    //End questionnaire questions