mixin head
    script(src="../node_modules/jquery/dist/jquery.js")
    script(src="../node_modules/jquery-ui-dist/jquery-ui.js")
    script(src="../node_modules/prismjs/prism.js")
    script(src="../node_modules/prismjs/components/prism-jade.js")
    script(src="../node_modules/prismjs/components/prism-typescript.js")
    script(src="../node_modules/prismjs/components/prism-json.js")
    script(src="../dist/jquery.quiz.js")
    link(rel="stylesheet" href="styles/main.css")
    link(rel="stylesheet" href="styles/markdown.css")
    link(rel="stylesheet" href="styles/prism-github.css")