mixin head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-jade.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-typescript.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-json.min.js")
    script(src="../dist/jquery.quiz.js")
    link(rel="stylesheet" href="styles/main.css")
    link(rel="stylesheet" href="styles/markdown.css")
    link(rel="stylesheet" href="styles/prism-github.css")