include ../dist/_jqQuiz
doctype html
html(lang='en')
    head
        title Simple use
        script(src="../node_modules/jquery/dist/jquery.js")
        script(src="../node_modules/jquery-ui-dist/jquery-ui.js")
        script(src="../node_modules/prismjs/prism.js")
        script(src="../node_modules/prismjs/components/prism-jade.js")
        script(src="../node_modules/prismjs/components/prism-typescript.js")
        script(src="../node_modules/prismjs/components/prism-json.js")
        script(src="../dist/jquery.quiz.js")
        link(rel="stylesheet" href="main.css")
        link(rel="stylesheet" href="markdown.css")
        link(rel="stylesheet" href="prism-github.css")
    body
        div.markdown-wrapper
            :markdown-it(linkify)
                ## jqQuiz
                jqQuiz is a jquery widget for create quizzes
                ### Features
                * Easy creation with PUG mixins
                * Super HTML customization
                * A lot of options to customize the behavior like
                    * Immediate feedback
                    * Show wrong/correct options
                    * Show a result dialog at the end with info like the score, feedback, number of success, fails, without answer
                    * Points to sum if success
                    * Points to substract if success
                    * Disable navigation until answer correctly (for pedagogical pruposes)
                    * And more, more, moooooore. See [the options](./options.html)
                * It's free! Beautiful word, right?.
                * Created with jquery ui widget factory. For more info see [widget factory](https://api.jqueryui.com/jquery.widget/)
                ### Simple usage
                Include the jqQuiz mixin and call it with some questions. Voila!\
                The JSON way uses the mixins under the hood, every parameter match with a mixin, for example, the header uses the mixin jq-quiz__header, so, accepts the same parameters as the mixin.\
                If you don't want to use Pug you could use HTML like always. Please go [here](./onlyHtml.html)
                ```jade
                //-Include the jqQuiz mixin from node_modules/jqQuiz/dist
                include node_modules/jqQuiz/dist/_jqQuiz
                +jq-quiz({
                    header:{
                        title:"My quiz", //title for the quiz
                        description:"Description for my quiz", //a description for the student
                        actions:[ //actions when the quiz has not been started
                            {
                                type:"start", //the type of the action, for more info please go to the actions section
                                content:"Start the quiz" // The content for the button
                            }
                        ]
                    },
                    body:{
                        questions:[
                            {
                                content:"Some quesiton",
                                options:[
                                    {
                                        name:"q1",//all the options of the same question must has the same name
                                        content:"Incorrect",//text for the option
                                        isCorrect:false //set if is the correct option
                                    },
                                    {
                                        name:"q1",
                                        content:"Correct",
                                        isCorrect:true
                                    }
                                ]
                            }
                        ],
                        actions:[//available options during the quiz.
                            {
                                type:"end", //the type of the action, for more info please go to the actions section
                                content:"End the quiz" // The content for the button
                            }
                        ]
                    },
                    result:{//jquery ui dialog result
                        items: [
                            {
                                type: "success ? Perfect! : Ohhh, try again"
                            }
                        ]
                    }
                })

                ```
        +jq-quiz({
            header:{
                title:"My quiz title",
                description:"Description for my quiz",
                properties:true,
                actions:[
                    {
                        type:"start",
                        content:"Start the quiz"
                    }
                ]
            },
            body:{
                questions:[
                    {
                        content:"Some quesiton",
                        options:[
                            {
                                name:"q1",
                                content:"Incorrect",
                                isCorrect:false
                            },
                            {
                                name:"q1",
                                content:"Correct",
                                isCorrect:true
                            }
                        ]
                    }
                ],
                actions:[
                    {
                        type:"end",
                        content:"End the quiz"
                    }
                ]
            },
            result:{
                items: [
                    {
                        type: "success ? Perfect! : Ohhh, try again"
                    }
                ]
            }
        })
        div.markdown-wrapper
            :markdown-it(linkify)
                ### More things
                * [structure](./structure.html)
                * [options](./options.html)
                * [mixins way](./mixins.html)
                * [json way](./json.html)
        script.
            $(".jq-quiz")
                .jqQuiz(
                    {
                        immediateFeedback: true,
                        disableOptionAfterSelect: false
                    }
                );
