//- ! jqQuiz | (c) Davinchi | https://github.com/davinchi-finsi/jq-quiz/blob/master/LICENSE
include ../common/_globalStructure/_globalStructure
//- @pugdoc
    @function jq-quiz__result-item
    @description Mixin to create the result dialog
    @param  {Object}        [params]                    Parameters
    @param  {String}        [params.tag=dt]             Tag to render
    @param  {String}        [params.cssClass]           Css classes to add to the element.
    @param  {Object}        [params.attributes]         Key-value attributes to add to the element
    @param  {String}        [params.content]            If is provided, a dt element with the content and dd with the type will be generated. Otherwise, a div element will be generated
    @param  {String}        [params.type]               The data to render. Only available if params.content is provided.
    @example
    +jq-quiz__result-item({
        type:"score",
        content:"Score"
    })
mixin jq-quiz__result-item(params)
    //Questionnaire body
    - params = params || {};
    if(params.content)
        -params.tag = "dt";
        +_mod-baseContent({
            internalParams: {
                cssClass: "jq-quiz__result-item",
                attributes: {
                    "data-jq-quiz-result-item-label": params.type
                },
                ignoreContent:false
            },
            externalParams: params
        })&attributes(attributes)
        -params.tag = "dd";
        +_mod-baseContent({
            internalParams: {
                cssClass: "jq-quiz__result-item",
                attributes: {
                    "data-jq-quiz-result-item":params.type
                }
            },
            externalParams: params
        })&attributes(attributes)
            block
    else
        +_mod-baseContent({
            internalParams: {
                cssClass: "jq-quiz__result-item",
                attributes: {
                    "data-jq-quiz-result-item": params.type
                }
            },
            externalParams: params
        })&attributes(attributes)
            block
    //End quiz body