//- ! jqQuiz | (c) Davinchi | https://github.com/davinchi-finsi/jq-quiz/blob/master/LICENSE
//- This file only exposes the mixins
include assets/pug/_jqQuiz
//- header mixins
include ./assets/pug/header/_jqQuizHeader
include ./assets/pug/header/_jqQuizTitle
include ./assets/pug/header/_jqQuizDescription
include ./assets/pug/header/_jqQuizProperty
include ./assets/pug/header/_jqQuizProperties
//- end header mixins
//- body mixins
include assets/pug/body/_jqQuizBody
include assets/pug/body/_jqQuizFeedback
include assets/pug/body/questions/_jqQuizQuestion
include assets/pug/body/questions/_jqQuizQuestions
include assets/pug/body/questions/_jqQuizOption
include assets/pug/body/questions/_jqQuizOptions
//- end body mixins
//- action mixins
include assets/pug/actions/_jqQuizActions
include assets/pug/actions/_jqQuizAction
//- end action mixins
//- result mixins
include ./assets/pug/result/_jqQuizResult
include ./assets/pug/result/_jqQuizResultItem
//- end result mixins